.lightning-button-icon_custom,
.lightning-button-icon-stateful_custom {
    --slds-c-icon-color-foreground: light-dark(var(--slds-g-color-palette-neutral-60), var(--slds-g-color-palette-neutral-40));
    --slds-c-button-text-color-hover: light-dark(var(--slds-g-color-palette-neutral-50), var(--slds-g-color-palette-neutral-30));
}

.lightning-button-menu_custom {
    border-inline-end-width: var(--slds-g-sizing-border-1, 1px);
}